pre > .docblock-source {
  border: 1px solid #eee;
  box-shadow: none;
  border-radius: 0.675rem;
}

pre.prismjs {
  padding: 2rem;
}

.prismjs, 
pre.prismjs, 
code.prismjs,
div[class*="language-"] .token,
div[class*="language-"] > *,
.docblock-source {
  font-family: "Menlo", "SF Mono", "JetBrains Mono", "Menlo", "Monaco", "Consolas", "Courier New", monospace !important;
  font-size: 1.125rem;
}